.TeamWrapper{
    flex-direction: column;
    gap: 50px;
}

.TeamCards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    width: 100%;
}

.TeamCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 410px;
    width: 100%;
    background-color: rgba(131, 131, 131, 0.05);
    border: 0.2px solid rgba(131, 131, 131, 0.05);
    border-radius: 5px;
    transition: var(--transition);

    &:hover{
        border-color: rgba(131, 131, 131, 0.2);
        box-shadow: 5px 5px 5px rgba(131, 131, 131, 0.5);
    }
}

.TeamCard .TeamImg{
    width: 100%;
    height: 300px;

    position: relative;
}

.TeamCard .TeamImg::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--prim-color);
    filter: blur(5px);
}

.TeamCard .TeamImg img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.social {
    display: flex;
    gap: 15px;
}


@media screen and (max-width:1400px) {
    .TeamCards{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:1000px) {
    .TeamCards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:768px) {
    .TeamCards{
        grid-template-columns: repeat(1,1fr);
    }
}
