.aboutwrapper{
    gap: 50px;
    width: 100%;
}

.img{
    width: 40%;
    overflow: hidden;
    height: 600px;
    padding: 0 40px;
    position: relative;
}

.img:after , .img:before{
    position: absolute;
    content: '';
    top: 50%;
    right: 10%;
    height: 20px;
    width: 20px;
    background-color: var(--prim-color);
    border-radius: 50%;
    animation: 3s Updown infinite ease-in-out;
}

.img:before{
    top: 20%;
    right: 90%;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 8px solid rgba(131, 131, 131, 0.2);
    animation-delay: 0.5s;

}


.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experiCard{
    z-index: 1;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px dotted #1e1e1e;
}

.experiCard h2{
    font-size: 3rem;
    font-family: 'Monoton', sans-serif;
    font-weight: 500;

}
.experiCard p{
    font-size: 18px;
    font-weight: 500;
}


.content{
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 60%;
}

.content h2{
    font-size: 2.8rem;
}   

.aboutCard{
    display: flex;
    gap: 20px;
    padding: 15px 0;
    margin-top: 30px;
}
.aboutCard h5{
    font-size: 32px;
    color: var(--prim-color);
    font-family: 'Monoton', sans-serif;
    font-weight: 400;
}
.aboutCard h3{
    font-size: 20px;
}

@keyframes Updown {
    0%{
        transform: translateY(0px) rotate(0deg) scale(1);
    }
    50%{
        transform: translateY(-8px) rotate(5deg) scale(0.9);
    }
    60%{
        transform: translateY(-8px) rotate(-5deg) scale(0.9);
    }
    100%{
        transform: translateY(0px) rotate(0deg) scale(1);
    }
}



@media screen and (max-width:1400px) {
    .img{
        width: 50%;
        padding: 0 40px;
    }

    .content{
        width: 50%;
    }

    .content h2{
        font-size: 2.2rem;
    }

    .img:before{
        right: 88%;
    }
    .img::after{
        right: 0%;
    }

}

@media screen and (max-width:1000px) {
    .aboutwrapper{
       flex-direction: column;
    }

    .img{
        width: 100%;
    }
    .img:before{
        right: 92%;
    }

    .content{
        width: 100%;
        height: fit-content;
    }

}
