.adWrapper{
    gap: 40px;
    background-color: rgba(131, 131, 131, 0.1);
}

.content{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content h1{
    font-size: 3rem;
}

.store{
    display: flex;
    gap: 20px;
}


.adImg{
    width: 60%;
    position: relative;
}

.adImg img{
    height: 100%;
    width: 100%;
}

.shape{
    height: 40px !important;
    width: 40px !important;

    opacity: 0.5;
    position: absolute;

    animation: 3s Updown infinite ease-in-out;
}

.shape1 {
    top: 10%;
    left: 15%;
    animation-delay: 0.5s;

}
.shape2 {
    top: 10%;
    left: 80%;
    animation-delay: 1s;

}
.shape3 {
    bottom: 30%;
    left: 90%;
    animation-delay: 1.5s;
}

.Spanshape{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 20%;
    border: 10px solid rgba(131, 131, 131, 1);

    animation: 3s Updown2 infinite ease-in-out;
}

@keyframes Updown {
    0%{
        transform: translateY(0px) rotate(0deg) scale(1);
    }
    50%{
        transform: translateY(-8px) rotate(5deg) scale(0.9);
    }
    60%{
        transform: translateY(-8px) rotate(-5deg) scale(0.9);
    }
    100%{
        transform: translateY(0px) rotate(0deg) scale(1);
    }
}

@keyframes Updown2 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-8px);
    }
    60%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(0px);
    }
}



@media screen and (max-width:1200px) {
    .content h1{
        font-size: 2.8rem;
    }
}

@media screen and (max-width:1000px) {
    .adWrapper{
        flex-direction: column;
    }

    .content{
        width: 100%;
    }

    .adImg{
        width: 60%;
        margin-top: 80px;
    }
}
@media screen and (max-width:900px) {
    .adImg{
        width: 80%;
    }
}
@media screen and (max-width:768px) {
    .adImg{
        width: 100%;
    }
}