.dishesWrapper{
    flex-direction: column;
    gap: 50px;
}

#swiper{
    width: 100% !important;
}


.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.card .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.primDetail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(131, 131, 131, .1);
}

.content i{
    color: var(--prim-color);
}


.primDetail h3{
    font-size: 1.3rem;
}

.primDetail h5{
    font-size: 1.3rem;
}

.card img{
    height: 350px;
    width: 100%;
}

