.headerwrapper{
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.headerwrapper::after{
    position: absolute;
    top: 55%;
    right: -20%;
    height: 780px;
    width: 100%;
    content: '';
    background-color: rgba(131, 131, 131, 0.1);
    z-index: -1;
    transform: rotate(-25deg);
    border-radius: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

.content h4{
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(128, 128, 128, 0.1);
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

.content h1{
    font-size: 3.2rem;
    line-height: 4rem;
    width: 60%;
}

.content h1 span{
    color: var(--prim-color);
}

.content p{
    width: 60%;
    margin: 10px 0;
    color: rgba(128, 128, 128, 0.9);
}

.buttons{
    display: flex;
    gap: 20px;
}

.buttons button:nth-of-type(2) {
    background-color: #fff;
    border: 2px solid var(--prim-color);
    
    &:hover{
        background-color: var(--prim-color);
    }
}

.image{
    width: 30%;
    position: relative;
}

.image #heroImg{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
}


.shape{
    height: 50px;
    width: 50px;
    position: absolute;
    opacity: 0.2;
    animation: 3s Updown infinite ease-in-out;
    
}


.shape1{
    top: 10px;
    right: 10px;
    animation-delay: 0.5s;
}


.shape2{
    top: 80%;
    left: -20%;
    animation-delay: 1s;
}
.shape3{
    bottom: 100px;
    right: -50px;
    animation-delay: 1.5s;
}

.image span{
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: 3s Updown2 infinite ease-in-out;
}

.span1 {
    bottom: 45%;
    right: -50px;
    animation-delay: 1s;
}

.span2 {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 10px solid rgba(128, 128, 128, 0.9);
    bottom: 61%;
    left: -50px;
    animation-delay: 1.5s;
}

/* Animation */

@keyframes Updown {
    0%{
        transform: translateY(0px) rotate(0deg) scale(1);
    }
    50%{
        transform: translateY(-8px) rotate(5deg) scale(0.9);
    }
    60%{
        transform: translateY(-8px) rotate(-5deg) scale(0.9);
    }
    100%{
        transform: translateY(0px) rotate(0deg) scale(1);
    }
}

@keyframes Updown2 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-8px);
    }
    60%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(0px);
    }
}


@media screen and (max-width:1400px) {
    .content h1{
        font-size: 3rem;
        line-height: 3.5rem;
        width: 70%;
    }
}

@media screen and (max-width:900px) {
    .headerwrapper{
        flex-direction: column;
    }

    .content , .content h1 , .content p{
        width: 100%;
    }

    .content{
        margin-top: 80px;
    }

    .image{
        width: 50%;
        margin-top: 80px;
    }

    .headerwrapper::after{
        width: 145%;
        transform: rotate(-35deg);
        right: -40%;

    }

}

@media screen and (max-width:768px) {
    .headerwrapper::after{
        width: 145%;
        right: -58%;
    }

    .image{
        width: 80%;
    }
}

@media screen and (max-width:500px) {
    .image{
        width: 100%;
    }
}
